a,a:hover,a:visited{
    text-decoration: none;
}
.clr{
    clear:both;
}
body,html{
    height:100%;
    margin:0;
    padding:0;
    position:relative;
}
body{
    background: #FFFFFF;
}
.logo{
    display: block;
    margin: 20px 0;
}
a.logo, a.fb-login, a.gplus-login{
    color:white;
}


/* BACKGROUNDS */
.page-home, .page-settings{
    background-color:white;
}
.page-recipes, .page-recipe, .page-myproducts{
    background-image: url("../images/bg.png");
    background-color: #FAFAFA;

    position:relative;
}
.page-recipe{
    height:100%;
}
.container{
    padding-top:50px;
}
.jumbotron{
    color: #565656;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #DDDDDD;
}
.container .jumbotron {
    min-height: 440px;
}


/* HEADER */
.header{
    background-color: #282828;
}
.header .container{
    padding-top:0;
}
.header .nav{
    margin:10px 0;
}
.navmenu{
    margin-right:10px;
}
.navmenu li a {
    background-color: #428BCA;
    color: #FFFFFF;
}
.navmenu li a:hover{
    background-color: #428BCA;
}
.navmenu .sutaupe{
    margin-right: 40px;
}
.navmenu .username{
    margin-left: 40px;
}
.navmenu .sutaupe a, .navmenu .sutaupe a:hover,
.navmenu .username a, .navmenu .username a:hover,
.navmenu .settings a, .navmenu .settings a:hover,
.navmenu .logout a, .navmenu .logout a:hover{
    background-color:transparent;
}


/* HOMEPAGE */
.advertisement{
    text-align:center;
    float:none;
    margin:0 auto;
    background-color: transparent;
    color: #565656;
    padding-top:0;
    border:none;
    box-shadow:none;
}
.advertisement strong{
    color: #3E3E3E;
}


/* RECIPES */
.thumbnail{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    border:none;
}
.recipes_img{
    margin-top:20px;
}
.caption h3{
    text-align: center;
    margin:0 15px;
    font-size: 18px;
}
.allaccepted{
    height: 30px;
    text-align:center;
   /* border: 1px solid red;*/
}
.cookedliked{
    height: 30px;
    /*border: 1px solid red;*/
}
.cookedliked .cooked{
    float:left;
    text-align:center;
    width:50%;
}
.cookedliked .liked{
    float:right;
    text-align:center;
    width:50%;
}


/* RECIPE */
.page-recipe .container{
    padding-top:10px;
}
.atgal{
    margin-bottom:10px;
}
.rec_image img{
    max-width:100%;
    height:auto;
    border: 1px solid #CCCCCC;
}
.rec_descr h4{
    margin: 0;
    color: #428BCA;
}
.recip_top{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.used_ingr_title{
    padding-bottom: 20px;
    text-align: center;
}
.coocing_table #form_save{
    margin-top:20px;
}
.coocing_table table{
    width: 100%;
}
#form_recipe_liked{
    margin-left: 10px;
}

.rec_wrap{
    padding: 8px;
}
.rec_image{
    margin-right: 15px;
}
.rec_image,.rec_descr,.rec_stats{
    float: left;
}

.rec_descr p{
    font-size: 13px;
}
.rec_stats,.rec_stats,.rec_fav{
    margin-top: 35px;
}
.rec_fav{
    float: right;
}
.rec_view_stat,.view_icons{
    margin-top: 15px;
}

.ingredients{

}
.ingredients li{
    color:red;
}
.ingredients li.available{
    color:green;
}
.ingredients h4{
    text-align: center;
}
.coock_info p{
    font-size: 13px;
    text-align: justify;
}
.coocing_table{
    float: right;
}
.short_desc_cont{
    float: left;
}
.jumbo2{
    height: auto !important;
}
label[for=form_recipe_id]{
    display: none;
}



.fb-login{
    display:block;
    background:#35589A;
    padding: 5px 0;
    text-align: center;
    margin: 45px 0 0;
}
.gplus-login{
    display:block;
    background:#D64136;
    padding: 5px 0;
    text-align: center;
    margin: 10px 0 0;
}
.form-signin{
    min-height: 360px;
    position: relative;
}
.form-signin button{
    bottom: 0;
    position: absolute;
}

.jumbo1 {
    /*height: 165px !important;*/
    min-height: 165px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-bottom: 10px;
    padding-top: 10px;
}
.form-small-margin {
    margin: 1px;
    padding: 3px;
}



.flash-notice{
    background-color: #E7746F;
    border-color: #E7746F;
    color:white;
    padding:10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.ccenter{
    text-align:center;
    margin-top: 20px;
}
.center{
    text-align:center;
    margin-bottom: 20px;
}
#myProductsTable{

}
#addProductForm_submit{
    margin-top:5px;
}
.login-form, #fos_user_registration_form, .fos_user_registration_register{
    float: none;
    margin: 0 auto;
    width: 400px;
}
.login-form table, .fos_user_registration_register table{
  width:87%;
}

/* My products table */

.myproducts-endsoon {
    background-color: #E7746F !important;
    color:white;
}



/* FOR SMALL WINDOW FIXES */
@media (max-width: 770px) {
    .coocing_table{
        float:none;
    }

}

@media (max-width: 300px) {
    /* HEADER */
    .navmenu .username {
        margin-left: 0px;
    }

    /* RECIPES */
    .caption h3{
       margin:0;
    }

    .allaccepted,
    .cookedliked{
        height: auto;
    }

    .cookedliked .cooked,
    .cookedliked .liked{
        float:none;
        width:100%;
    }

}