#default ignores
.idea
.vagrant/*
.DS_Store
/web/bundles/
/web/phpMyAdmin/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

/web/phpMyAdmin/*
/web/jquery-ui-1.10.4.custom/development-bundle/*
#personal ignores
#/src/Acme/*
/src/Testukas/*

#for bootstrapping stuff
#/package.json

node_modules/

Vagrantfile