{# src/FrameWorkersTm/FoodRescue/FoodAppBundle/Resources/views/Dashboard/index.html.twig #}

{# base template yra app/resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block title %} Pagrindinis {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="jumbotron" style="">
                <h4>Jūs jau sutaupėte: <span>X produktų</span></h4>
                <p>Produktai, kurių galiojimas netrukus baigsis:</p>
                <table class="table table-striped" style="width:100%">
                    <tr>
                        <td>Pienas</td>
                        <td>1L</td>
                        <td>liko</td>
                        <td>2 dienos</td>
                    </tr>
                    <tr>
                        <td>Varškė</td>
                        <td>200g</td>
                        <td>liko</td>
                        <td>2 dienos</td>
                    </tr>
                    <tr>
                        <td>jogurtas</td>
                        <td>0.5L</td>
                        <td>liko</td>
                        <td>3 dienos</td>
                    </tr>
                    <tr>
                        <td>Dešra</td>
                        <td>100g</td>
                        <td>liko</td>
                        <td>4 dienos</td>
                    </tr>
                </table>

                <p>Neišmesk šių produktų - spauks ant receptų !</p>

                <a role="button" href="{{ path('frame_workers_tm_food_rescue_food_app_my_products') }}" class="btn btn-lg btn-success">Produktai</a>
                <a role="button" href="{{ path('frame_workers_tm_food_rescue_food_app_recipes') }}" class="btn btn-lg btn-success">Receptai</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="jumbotron" style="">
                <h4>Jūs jau išbandėte: <span>X receptų</span></h4>
                <h4>Atradote: <span>X mėgstamų receptų</span></h4>

                <p>Išbandyk šiuos receptus:</p>

                <ul class="list-unstyled">
                    <li><a href="#">Omletas</a></li>
                    <li><a href="#">Omletas</a></li>
                    <li><a href="#">Omletas</a></li>
                    <li><a href="#">Omletas</a></li>
                    <li><a href="#">Omletas</a></li>
                    <li><a href="#">Omletas</a></li>
                    <li><a href="#">Traški vištiena</a></li>
                    <li><a href="#">Varškės apkepas</a></li>
                    <li><a href="#">Šaltibarščiai</a></li>
                    <li><a href="#">Omletas</a></li>
                    <li><a href="#">Traški vištiena</a></li>
                    <li><a href="#">Varškės apkepas</a></li>
                    <li><a href="#">Šaltibarščiai</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}