{% extends '::base.html.twig' %}
{% block title %} Registracija {% endblock %}
{% block body %}
<div class="page-home">
    <div class="container">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
</div>
{% endblock body %}
