{# src/FrameworkersTM/FoodRescue/FoodAppBundle/Resources/views/Default/index.html.twig #}

{# base template yra app/resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block title %} Prisijungimas/Registracija {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-2 col-md-2"> </div>
        <div class="col-lg-4 col-md-4">
            {% if error %}
                <div>{{ error|trans }}</div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">Prisijungimo vardas</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br />

                <label for="password">Slaptažodis</label>
                <input type="password" id="password" name="_password" required="required" /> <br />

                <input type="submit" id="_submit" name="_submit" value="Prisijunkti" />
            </form>
        </div>

        <div class="col-lg-4 col-md-4">


        </div>
        <div class="col-lg-2 col-md-2"> </div>
    </div>
{% endblock %}