{# src/FrameWorkersTm/FoodRescue/FoodAppBundle/Resources/views/Recipes/recipe.html.twig #}
{# base template yra app/resources/views/base.html.twig #}
{% extends '::base.html.twig' %}
{% block title %} Receptas nerastas {% endblock %}
{% block body %}

<h4>Neprisijunges</h4>

{% endblock %}