{# src/FrameWorkersTm/FoodRescue/FoodAppBundle/Resources/views/MyProducts/index.html.twig #}

{# base template yra app/resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block title %} Mano produktai {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="jumbo1 jumbotron">
                <h4>Pridėti produktą</h4>
                <div class="row">
                    <form>
                        <div class="form-small-margin col-lg-4">
                            <label for="name">Pavadinimas</label>
                            <input type="text" class="form-control" id="name" placeholder="Produktas">
                        </div>
                        <div class="form-small-margin col-lg-2">
                            <label for="quantity">Kiekis</label>
                            <input type="number" class="form-control" id="quantity">
                            <select>
                                <option class="form-control" value="num">vnt.</option>
                                <option class="form-control" value="litres">l</option>
                                <option class="form-control" value="grams">g</option>
                            </select>
                        </div>
                        <div class="form-small-margin col-lg-3">
                            <label for="endDate">Suges</label>
                            <input type="date" class="form-control" id="endDate">
                        </div>
                        <div class="form-small-margin col-lg-2">
                            <br/>
                            <input type="submit" value="Išsaugoti">
                        </div>

                    </form>
                </div>


            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="jumbotron jumbo1">

            </div>
        </div>


    </div>
    <div class="row">
        <div class="jumbotron">
            <h4>Turimi produktai</h4>

            <div class=\"form-group row\"/>
            <div class='col-sm-5 col-md-5 col-lg-5'>
                <label>Pavadinimas</label>
            </div>
            <div class='col-sm-2 col-md-2 col-lg-2'>
                <label>Kiekis</label>
            </div>
            <div class='col-sm-2 col-md-2 col-lg-2'>
                <label>Vienetai</label>
            </div>
            <div class='col-sm-2 col-md-2 col-lg-2'>
                <label>Suges</label>
            </div>
            <div class='col-sm-1 col-md-1 col-lg-1'>
                <label>Trinti</label>
            </div>
        </div>

            <form>
                {{ forma | raw }}
            </form>


        </div>
    </div>
{% endblock %}