{% extends '::base.html.twig' %}
{% block title %} Nustatymai {% endblock %}

{% block stylesheets %}
    <style type="text/css">
        body{
            background: #fff !important;
        }
    </style>
{% endblock %}
{% block body %}
<div class="page-settings">
    <div class="container">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>
</div>
{% endblock body %}
