{% extends '::base.html.twig' %}

{% block body %}
<div class="page-settings">
    <div class="container">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>
</div>
{% endblock body %}
