{# src/FrameWorkersTm/FoodRescue/FoodAppBundle/Resources/views/Default/index.html.twig #}

{# base template yra app/resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block title %} Pradinis {% endblock %}

{% block body %}

    <div class="jumbotron" style="text-align:center;">
        <h3>Pamiršti, kad baigiasi tavo produktų galiojimas?</h3>
        <h3>Pamiršti ką turi savo šaldytuve?</h3>
        <h3>Nežinai ką skanaus šį vakarą pasigaminti?</h3>

        <h4 style="margin-top:50px;">Food Rescue primins Jums apie produktus, kurių galiojimo laikas netrukus baigsis.</h4>
        <h4>Daugiau neišmesk produktų!</h4>

        <p style="margin-top:50px;"><a role="button" href="{{ path('frame_workers_tm_food_rescue_food_app_my_products') }}" class="btn btn-lg btn-success">Išbandyk</a></p>
    </div>

<!--
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Pamiršti, kad baigiasi tavo produktų galiojimas?</p>
            <p>Pamiršti ką turi savo šaldytuve?</p>
            <p>Nežinai ką skanaus šį vakarą pasigaminti?</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <p>Food Rescue primins Jums apie produktus, kurių galiojimo laikas netrukus baigsis.</p>
            <p>Daugiau neišmesk produktų!</p>
        </div>
    </div>

    <button type="submit" class="btn btn-default">Išbandyk</button>
-->



{% endblock %}